<!DOCTYPE html>
<html>
<head>
    @*<meta charset="utf-8" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Image Request Form</title>
    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/notify.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <style>
        ul.marketItems {
            text-align: left;
            list-style-type: none;
        }

            ul.marketItems li {
                float: left;
                width: 275px;
            }

                ul.marketItems li:nth-child(2n+3) {
                    clear: left;
                    float: left;
                }

        ul.themeItems {
            text-align: left;
            list-style-type: none;
        }

            ul.themeItems li {
                float: left;
                width: 150px;
            }

                ul.themeItems li:nth-child(4n+5) {
                    clear: left;
                    float: left;
                }

        th .editDelete {
            width: 150px;
        }
    </style>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>This Image/Icon/Video Review Request Form is provided by the Global Readiness team in GSX/Office.</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery-ui")*@
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>



    @RenderSection("scripts", required: false)
</body>
</html>
